<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abenteuer "{{.NAME}}"</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<header>
    <h2>Abenteuer {{.NUMBER}} - "{{.NAME}}"</h2>
</header>
<table>
    <tr>
        <th>Nummer</th>
        <td>{{.NUMBER}}</td>
    </tr>
    <tr>
        <th>Zeitraum</th>
        <td>{{.TIME}}</td>
    </tr>
    <tr>
        <th>Anwesende Helden</th>
        <td>
            <ul class="hero-list">
                {{range .HEROS}}
                    <li><a style="background-color: #f4f4f4; color: #4caf50; border: none; padding: 0; margin: 0;" href="/char/{{.}}">{{.}}</a></li>
                {{end}}
            </ul>
        </td>
    </tr>
</table>
<a href="/adventure">Zurück</a>
</body>
</html>