<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charaktere</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<a href="/">Zurück</a>
{{range .}}
<a href="/chars/{{.Name}}">{{.Name}}</a><br>
{{end}}
</body>
</html>