<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praiosläufe {{.MOON}} {{.YEAR}}BF</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<div class="container">
    <a href="/dates/{{.YEAR}}">{{.YEAR}}BF</a>
    <table>
    {{range .DAYS}}
        <tr><th>{{.Name}}</th>
        <td><div style="margin-left: 25px;">
                {{range .Entry}}
                    <div class="entry">{{.}}</div>
                {{end}}
            </div></td></tr>
    {{end}}
    </table>
</div>
</body>
</html>
