<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Götterläufe</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<div class="container">
    <h2>Eingetragene Götterläufe</h2>
    <div id="year-list">
        {{range .YEARS}}
            <a href="/dates/{{.}}">{{.}}BF</a><br>
        {{end}}
    </div>
    <a href="/">Zurück</a>
</div>
</body>
</html>
