<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<header>
    <h2>{{.Name}}</h2>
</header>
{{.Description}}
<table>
    <tr>
        <th><img src="/image/tsa.png" title="Tsatag" alt=""> <p>Tsatag</p></th>
        <td>{{.TDay}}</td>
    </tr>
    <tr>
        <th><img src="/image/boron.png" title="Boronstag" alt=""> <p>Boronstag</p></th>
        <td>{{.BDay}}</td>
    </tr>
    <tr>
        <th>Mitglied</th>
        <td>{{.Member}}</td>
    </td>
</table>
</body>
</html>