<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praiosläufe {{.MOON}} {{.YEAR}}BF</title>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>
<div class="container">
    <a href="/dates/{{.YEAR}}">{{.YEAR}}BF</a>
    {{range .DAYS}}
        <h3>{{.Name}}</h3>
        {{range .Entry}}
            <div class="entry">{{.}}</div>
        {{end}}
    {{end}}
</div>
</body>
</html>
