<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalender</title>
    <script src="https://cdn.rawgit.com/golang/go/refs/heads/master/lib/wasm/wasm_exec.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("wasm/time.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
    <link rel="stylesheet" href="/image/style.css">
</head>
<body>

<div contenteditable="true" id="date">{{.DATE}}</div>
<div id="time">00:00</div>
<div id="name">Praiosstunde</div>
<div id="jubilees">
    {{range .JUBILEES}}
        <li>{{.}}</li>
    {{end}}
</div>

<div class="container">
    <div class="button-group">
        <button onclick="addDay()">+1d</button>
        <button onclick="addMinute(60)">+1h</button>
        <button onclick="addMinute(30)">+½h</button>
        <button onclick="addMinute(1)">+1m</button>
    </div>
    <label>
        <textarea id="entry-text" placeholder="Was geschah?"></textarea>
    </label>
    <input id="jubilee" type="checkbox"> Jubiläum?
    <br>
    <button onclick="submitEntry()">Abschicken</button>
</div>
</body>
</html>
