<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abenteuer "{{.NAME}}"</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
            background-color: #f9f9f9;
            color: #333;
        }
        header {
            color: #4CAF50;
            padding: 10px;
        }
        h2 {
            margin: 10px 0;
            font-size: 1.8em;
        }
        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 10px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: white;
            vertical-align: top;
        }
        td {
            background-color: #f4f4f4;
        }
        td:nth-child(odd) {
            background-color: #e0e0e0;
        }
        tr:last-child td {
            border-bottom: none;
        }
        .hero-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .hero-list li {
            padding: 3px 0;
        }
        footer {
            color: #4CAF50;
            font-size: 0.9em;
            padding-top: 10px;
        }
        a {
            color: #4CAF50;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<header>
    <h2>Abenteuer {{.NUMBER}} - "{{.NAME}}"</h2>
</header>
<table>
    <tr>
        <th>Nummer</th>
        <td>{{.NUMBER}}</td>
    </tr>
    <tr>
        <th>Zeitraum</th>
        <td>{{.TIME}}</td>
    </tr>
    <tr>
        <th>Anwesende Helden</th>
        <td>
            <ul class="hero-list">
                {{range .HEROS}}
                    <li ><a href="/char/{{.}}">{{.}}</a></li>
                {{end}}
            </ul>
        </td>
    </tr>
</table>
</body>
</html>