<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Götterläufe</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        a {
            font-size: 20px;
            color: #4CAF50;
            text-decoration: none;
            margin: 5px;
            display: inline-block;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h2>Eingetragene Götterläufe</h2>
<div id="year-list">
    {{range .YEARS}}
        <a href="/dates/{{.}}">{{.}}BF</a><br>
    {{end}}
</div>
</body>
</html>
